<%= form_with(model: eos_account, local: true) do |form| %>
  <% if eos_account.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(eos_account.errors.count, "error") %> prohibited this eos_account from being saved:</h2>

      <ul>
      <% eos_account.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :username %>
    <%= form.text_field :username %>
  </div>

  <div class="field">
    <%= form.label :email %>
    <%= form.text_field :email %>
  </div>

  <div class="field">
    <%= form.label :pubkey %>
    <%= form.text_area :pubkey %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
