<div class="container">

  <span id="notice"><%= notice %></span>

  <div class="row">
    <div class="col">
      <h1 class="headprm">Welcome to EOS Tribe!</h1>
    </div>
    <span id="pprm">The Building Blocks of a Decentralized Future</span>
  </div>
  <br />

  <div class="row">
    <%= link_to 'CREATE ACCOUNT', new_eos_account_path, id: "btnprim", class: "badge badge-pill badge-primary" %>
    <br />
  </div>

  <div class="row">
    <p id="infoprm">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent id mi hendrerit, scelerisque nunc dapibus, pharetra enim. Curabitur elit felis, sagittis vitae diam ut, vestibulum auctor lectus. Proin augue felis, semper et lectus id, ullamcorper sollicitudin sapien. Nullam et volutpat neque, et consectetur leo. Nunc blandit diam nisi. Ut quis eros dolor. Aenean posuere elementum faucibus. Nunc nec dignissim tortor, et porta odio. Vivamus iaculis lacus nec purus tempor feugiat. Morbi tincidunt sapien arcu, eget fringilla lacus gravida nec. Pellentesque hendrerit volutpat bibendum. Cras quis sapien a sapien varius consequat fermentum eu urna.
    </p>
  </div>

</div>

<!-- <table>
  <thead>
    <tr>
      <th>Username</th>
      <th>Email</th>
      <th>Pubkey</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @eos_accounts.each do |eos_account| %>
      <tr>
        <td><%= eos_account.username %></td>
        <td><%= eos_account.email %></td>
        <td><%= eos_account.pubkey %></td>
        <td><%= link_to 'Show', eos_account %></td>
        <td><%= link_to 'Edit', edit_eos_account_path(eos_account) %></td>
        <td><%= link_to 'Destroy', eos_account, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table> -->

<br>
