<div class="container">
  <div class="d-flex justify-content-center row">
    <div class="col">
      <h1 class="headprm"></h1>
      <p id="notice"><%= notice %></p>
        <div class="row">
         <span><strong>Username:</strong>&nbsp;&nbsp;<%= @eos_account.username %></span>
        </div>

        <div class="row">
          <span><strong>Email:</strong>&nbsp;&nbsp;<%= @eos_account.email %></span>
        </div>

        <div class="row">
          <span><strong>Pubkey:</strong>&nbsp;&nbsp;<%= @eos_account.pubkey %></span>
        </div>

    </div>
  </div>
</div>

<script>
  $.ajax({
    type: 'POST',
    url: "http://api1.eostribe.io:3000/newaccount",
    data: {
      name: dataObj.name,
      email: dataObj.email,
      pubkey: dataObj.pubkey
    }
  });
</script>





<%= link_to 'Edit', edit_eos_account_path(@eos_account) %> |
<%= link_to 'Back', eos_accounts_path %>
