<div class="container">
  <div class="d-flex justify-content-center row">
    <div class="col">
      <h1 class="headprm"></h1>

      <p id="notice"><%= notice %></p>

      <table class="table table-dark">
        <tr>
          <th>Email:</th>
          <td><%= @eos_account.email %></td>
        </tr>
        <tr>
          <th>Username:</th>
          <td><%= @eos_account.username.downcase %></td>
        </tr>
        <tr>
          <th>Public Key:</th>
          <td><%= @eos_account.pubkey %></td>
        </tr>
        <tr>
          <th>Private Key:</th>
          <td><span id="eos_account_privkey">placeholder</span></td>
        </tr>
      </table>

    </div>
  </div>
</div>

<script>
  // Replaces the contents of the span with ID "eos_account_privkey" (which is "placeholder" by default)
  // with the user's private key, carried over from the new account form on the previous page.
  document.getElementById('eos_account_privkey').innerHTML=localStorage.getItem("privKeyStor");

  // The below JQuery is commented out for testing purposes.
  // It connects the web application to Eugene's API hosted at:
  //
  // $.ajax({
  //   type: 'POST',
  //   url: "http://api1.eostribe.io:3000/newaccount",
  //   data: {
  //     name: "<%= @eos_account.username.downcase %>",
  //     email: "<%= @eos_account.email %>",
  //     pubkey: "<%= @eos_account.pubkey %>"
  //   }
  // });

</script>





<%= link_to 'Edit', edit_eos_account_path(@eos_account) %> |
<%= link_to 'Back', eos_accounts_path %>
